.current-weather_container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.location-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 4rem 0;
}

.location-main-info h2 {
    margin-top: 0;
}

.highlights div {
    display: grid;
    grid-template: 150px / repeat(4 ,1fr);
    gap: 1rem;
}

.highlight {
    background-color: #2b2f4e;
    border-radius: 8px;
    font-size: 2rem;
    /* display: flex;
    align-items:center; */
}

img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .weather-details {
        flex-direction: column;
    }
    .highlights div {
        display: grid;
        grid-template: repeat(4, 200px) / auto;
        gap: 1rem;
    }
}