.header_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.music-player {
    width: 80%;
    max-width: 20rem;
    height: 4rem;
    border-radius: 40px;
    background-color: #585676;
    display: flex;
    align-items: center;
    padding-left: 3%; 
    gap: 2rem;
}

.music-player .play-btn {
    padding: 1rem;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
}

.units-btn button {
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    background-color: #585676;
    color: white;
    cursor: pointer;
}

.current {
    background-color: white !important;
    color: black !important;
}

@media screen and (max-width: 768px) {
    .header_container {
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .units-btn {
        display: flex;
        justify-content: end;
    }
    .music-player {
        margin: auto;
    }
}