.current-weather_container div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 1rem;
}

.current-weather_container h1 {
    font-size: 2rem;
}
 
.current-weather_container h2 {
    margin-bottom: 3rem;
}


.weather-details {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;
}

.weather-details > * {
    background-color: #2b2f4e;
    padding: 50px;
    margin: 0;
    border-radius: 8px;
    font-size: 2rem;
}

img {
    width: 200px;
    height: 200px;
}