.search_container {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    min-height: 100vh;
    background-color: hsl(240, 80%, 12%);
    color: white;
}

.search div {
    margin: auto;
    text-align: center;
}

.search input {
    max-width: 30rem;
}

.search button {
    max-width: 10rem;
}

.city-link {
    text-decoration: none;
    color: white;
}