.search_container {
    display: flex;
    justify-content: right;
}

.search-container-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search {
    display: flex;
    text-align: center;
    gap: 1rem;
}

.search input {
    font-size: 1.2rem;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 1px solid grey;
}

.search::after {
    content: "🔍";
    width: 20px;
    height: 20px;
}

.search button {
    padding: 0.8em 2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #0066ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.search button:hover {
    background-color: rgb(28, 28, 192);
    text-shadow: 1px 0 0 white;
}

.results-dropdown {
    background-color: rgb(27, 27, 75);
    position: absolute;
    top: 150px;
    right: 265px;
    max-width: 250px;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.results {    
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
}

.city-link {
    text-decoration: none;
    color: white;
    letter-spacing: 1.2px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0em 2em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-link:hover::after {
    content: ">";
    opacity: 0.5;
}

.city-link:hover {
    background-color: rgba(235, 235, 235, 0.089);
    border: 1px solid rgba(196, 196, 196, 0.582);
    box-shadow: 2px 3px 1px 1px rgba(128, 128, 128, 0.212);
}

.city-link:active {
    background-color: hsla(240, 48%, 32%, 0.582);
    color: hsl(239, 97%, 13%);
    border: 1px solid rgba(196, 196, 196, 0.582);
    box-shadow: 2px 3px 1px 1px rgba(128, 128, 128, 0.212);
}

@media screen and (max-width: 768px) {
    .search-container-content {
        display: flex;
        align-items: center;
        margin: auto;
    }
    .current-weather_container div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: auto;
        padding: auto; */
    }
}