@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/* 
* {
    border: 1px solid red;
} */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(240, 68%, 7%);
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px 10%;
}