.recommendations_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;
}

.recommendations_container h2 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.5rem;
}

.recommendation {
    padding: 0 10%;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    height: 100vh;
}

.recommendations_container .overview {
    display: flex;
    max-height: 100px;
    align-items: center;
    border-radius: 16px;
    /* color: white; */
}

.recommendations_container .overview h3 {
    letter-spacing: 0.8px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
}

.recommendations_container .details {
    display: flex;
    flex-direction: column;
    margin-left: 12rem;
    max-width: 50%;
}

.recommendations_container .details img {
    width: 400px;
    height: auto;
}

.movie-icon {
    background: url("../assets/cinema.png") no-repeat center/cover;
    width: 150px;
    height: 150px;
}

.music-icon {
    background: url("../assets/headphone.png") no-repeat center/cover;
    width: 150px;
    height: 150px;
}

.recipe-icon {
    background: url("../assets/cooking.png") no-repeat center/cover;
    width: 150px;
    height: 150px;
}

.recommendations_container span {
    position: relative;
}

.recommendations_container span::before {
    background-color: var(--orange);
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
    opacity: 0.7;
}