.search_container {
    display: flex;
    justify-content: right;
}

.search-container div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form {
    display: flex;
    text-align: center;
    gap: 1rem;
}

.search-form input {
    font-size: 1.2rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.search-form input::placeholder {
    color: white;
}

.search-form::after {
    content: "🔍";
    width: 20px;
    height: 20px;
    position:absolute;
    right: 110px;
}

.search-form button {
    padding: 0.8em 2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    background-color: #0066ff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.search-form button:hover {
    background-color: rgb(28, 28, 192);
    text-shadow: 1px 0 0 white;
}

.results-dropdown {
    background-color: var(--light-blue);
    max-width: 250px;
    max-height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.results {    
    display: flex;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
}

.city-link {
    text-decoration: none;
    color: white;
    letter-spacing: 1.2px;
    font-size: 1rem;
    cursor: pointer;
    padding: 0em 2em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-link:hover::after {
    content: ">";
    opacity: 0.5;
    color: var(--orange);
}

.city-link:hover {
    background-color: rgba(235, 235, 235, 0.089);
    border: 1px solid rgba(196, 196, 196, 0.582);
    box-shadow: 2px 3px 1px 1px rgba(128, 128, 128, 0.212);
    color: var(--orange);
}

.city-link:active {
    background-color: hsla(240, 48%, 32%, 0.582);
    color: hsl(239, 97%, 13%);
    border: 1px solid rgba(196, 196, 196, 0.582);
    box-shadow: 2px 3px 1px 1px rgba(128, 128, 128, 0.212);
}

@media screen and (max-width: 768px) {
    .search-container {
        display: flex;
        align-items: center;
        margin: auto;
    }
    .current_container div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: auto;
        padding: auto; */
    }
}